
/*	==========================================================
|	CONTENT MAIN
|	========================================================*/
	.content-main {
		background-color: #fff;
		margin-top: 0px;
		/*margin-left: 100px;
		margin-right: 100px;*/

	}
	
	.content {
		/*margin: 10px 10px;*/

	}
	th.dt-center, td.dt-center { 
	    text-align: center; 
	    font-family: DINPro-Light;
	}

	
	.form-biodata {

  		border-width: 0 0 2px;
		border-bottom: 2px solid gray;
		border-radius: 0;
		padding-left: 0px;
		padding-right: 0px;
		outline: none;
		background-color: #fff;
	}



	.form-biodata:focus {
	  outline-style: none;
	  box-shadow: none;
	}

	.select2-container--default .select2-selection--single {
		border: 0px;
	}

	.select2 {

		border: 0px;
  		border-top: 0px;
		border-bottom: 2px solid gray;
		border-radius: 0;
		padding-left: 0px;
		padding-right: 0px;
		outline: none;
		background-color: #fff;
	}


	.div-task-complete {
		border: 2px solid #000; 
		border-radius: 5px 5px 0px 0px; 
		border-bottom: 10px solid white;
		background-color: #28a745;
	}

	.task-complete {
		color: #fff;
	}

	.div-task-incomplete {
		border: 2px solid #000; 
		border-radius: 5px 5px 0px 0px; 
		border-bottom: 10px solid white;
		background-color: #007bff;
	}

	.task-incomplete span {
		color: #fff;
	}

	.div-task-hover {
		border: 2px solid #000; 
		border-radius: 5px 5px 0px 0px; 
		border-bottom: 10px solid white;
		background-color: yellow;
	}

	.task-hover form span {
		color: #000;
	}