@font-face { 
	font-family: DinPro-Bold; src: url('../font/DINPro-Bold.otf');
}

@font-face { 
	font-family: DINPro-Black; src: url('../font/DINPro-Black.otf');
}

@font-face { 
	font-family: DINPro-Light; src: url('../font/DINPro-Light.otf');
}

@font-face { 
	font-family: DINPro-Medium; src: url('../font/DINPro-Medium.otf');
}

@font-face { 
	font-family: DINPro-Regular; src: url('../font/DINPro-Regular.otf');
}
.font-regular { font-family: DINPro-Regular; }
.font-medium { font-family: DINPro-Medium; }
.font-bold { font-family: DinPro-Bold; }
.font-light { font-family: DINPro-Light; }
.font-black { font-family: DINPro-Black; }

body {
	font-size: .875rem;
}
.breadcrumb-item + .breadcrumb-item::before{
	color: #fff;
}

.global-notification{
	position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 2000;
}

#main{
	padding: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 60px;
	background-color: transparent;
}

.bg-nu {
    background-color: rgba(0,152,70,1);
}

.text-nu {
	color: rgba(0,152,70,1);
	border-color: rgba(0,152,70,1);	
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}


/*	==========================================================
|	SIDEBAR
|	========================================================*/


	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 100; /* Behind the navbar */
		padding: 48px 0 0; /* Height of navbar */
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	}

	.sidebar-sticky {
		position: relative;
		top: 0;
		height: calc(100vh - 48px);
		padding-top: .5rem;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

	}

	.sidebar-sticky::-webkit-scrollbar {
	  	display: none;
	}

	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.sidebar-sticky {
			position: -webkit-sticky;
			position: sticky;
		}
	}

	.sidebar .nav-link {
		font-weight: 500;
		color: #333;
	}

	.sidebar .nav-link .feather {
		margin-right: 4px;
		color: #999;
	}

	.sidebar .nav-link.active {
		color: #007bff;
	}

	.sidebar .nav-link:hover .feather,
	.sidebar .nav-link.active .feather {
		color: inherit;
	}

	.sidebar-heading {
		font-size: .75rem;
		text-transform: uppercase;
	}

/*	==========================================================
|	NAVBAR
|	========================================================*/

	.navbar {
		padding: 0px !important;
		background-color: #fff;
		border-bottom: 1px solid #fff;
		box-shadow: 0px 4px 5px 0px rgba(74,53,35,0.75);
		-webkit-box-shadow: 0px 4px 5px 0px rgba(74,53,35,0.75);
		-moz-box-shadow: 0px 4px 5px 0px rgba(74,53,35,0.75);
	}


	#custom-navbar-logo {
		font-size: 14pt;
	  	font-weight: bold;
	  	color: rgba(0,152,70,1);
		font-family: DinPro-Bold;
		text-decoration: none !important;
	  	/*
	  	font-family: DINPro-Regular;
		font-family: DINPro-Medium;
		font-family: DINPro-Light;
		font-family: DINPro-Black;
		*/
	}

	#custom-navbar-logo i {
		color: rgba(0,152,70,1);
	    text-decoration: none !important;
	}

	.btn-explore-landing-page {
		padding: 7px;
		margin: 0px;
		margin-right: 10px;
	}

	.search-landing-page {
		margin-left: 10px;
		padding: 9px;
		border-radius: 0px;
		float: left;
		border: 1px solid rgba(0,152,70,1);
		border-right: 0px solid rgba(0,152,70,1);
	}

	.btn-search-landing-page {
		padding: 9px;
		border: 1px solid rgba(0,152,70,1);
		border-left: 1px solid rgba(0,152,70,1);
		border-radius: 0px;
		background-color: rgba(0,152,70,1);
	}

	/*
	.carousel-fade .carousel-item {
		opacity: 0;
		transition-duration: 0.75s;
		transition-property: opacity;
	}

	.carousel-fade .carousel-item.active,
	.carousel-fade .carousel-item-next.carousel-item-left,
	.carousel-fade .carousel-item-prev.carousel-item-right {
		opacity: 0.8;
	}

	.carousel-fade .active.carousel-item-left,
	.carousel-fade .active.carousel-item-right {
		opacity: 0;
	}

	.carousel-fade .carousel-item-next,
	.carousel-fade .carousel-item-prev,
	.carousel-fade .carousel-item.active,
	.carousel-fade .active.carousel-item-left,
	.carousel-fade .active.carousel-item-prev {
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}*/
