@font-face { 
	font-family: DinPro-Bold; src: url('../font/DINPro-Bold.otf');
}

@font-face { 
	font-family: DINPro-Black; src: url('../font/DINPro-Black.otf');
}

@font-face { 
	font-family: DINPro-Light; src: url('../font/DINPro-Light.otf');
}

@font-face { 
	font-family: DINPro-Medium; src: url('../font/DINPro-Medium.otf');
}

@font-face { 
	font-family: DINPro-Regular; src: url('../font/DINPro-Regular.otf');
}
.font-regular { font-family: DINPro-Regular; }
.font-medium { font-family: DINPro-Medium; }
.font-bold { font-family: DinPro-Bold; }
.font-light { font-family: DINPro-Light; }
.font-black { font-family: DINPro-Black; }

.nav-item label {
	font-family: DINPro-Light;
}

.btn-landing-page {
	margin-top: 10px;
	border: 0px;
    border-radius: 10px;
    padding: 10px;
    background-color: #00A3DE;
    color: #FFFFFF;
    width: 100%;
    font-family: DINPro-Regular;
}

.custom-judul-card {
  	background-color: #C4C4C4;
  	padding: 10px;
  	border-radius: 10px 10px 0px 0px;
  	color: #353535;
  	font-family: DinPro-Bold;
  	margin-bottom: 0px;
  	margin-top: 40px;
}

.custom-content-card {
  	background-color: #E5E5E5;
  	padding: 10px;
  	border-radius: 0px 0px 10px 10px;
  	color: #EF3B24;
  	font-family: DINPro-Regular;
  	padding: 15px;
  	padding-left: 40px;
  	box-shadow:
	  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	  0 1.5px 1px rgba(0, 0, 0, 0.06),
	  0 10.3px 10.9px rgba(0, 0, 0, 0.072),
	  0 10.8px 11.4px rgba(0, 0, 0, 0.086),
	  0 10px 10px rgba(0, 0, 0, 0.12)
	;
}

.custom-judul {
	font-family: DinPro-Bold;
}

.custom-footer {
	text-align: justify;
	margin-top: 40px;
}

.background-page {
	background-color: #E5E5E5;
}
