
/*	==========================================================
|	CONTENT GALERY
|	========================================================*/
	#galery {
		height: 350px;
		padding: 0px;
		margin-bottom: 0px;
		padding-top: 20px;
		background-color: #fff;
	}

	.breadcrumb {
		background-color: rgba(0,152,70,1);
	}

	.custom-card-body {
		height: 100%;
	}

	.custom-carousel-item {

		max-height: 180px;
		height: 100px;
		min-height: 100px;
	}
	.custom-card-img-top {
		opacity: 1;
		width: 99%;
		border: 1px solid #fff;
		border-radius: 5px;
	}

/*	==========================================================
|	CONTENT PARALAX
|	========================================================*/

	#preview-pub {
		background-image: url('../assets/images/nu-organization/background-nu-no-image.jpg');
		margin-top: 0px;
		padding: 0px;
		opacity: 0.8;
		background-attachment: fixed;
		background-size: cover;
		background-position: 0px 0px;
		height: 350px;
		background-repeat: no-repeat;
		overflow: hidden;
	}

	#preview-pub h1{
		text-shadow: 1px 1px 10px rgba(0,0,0,0,9);
		color: #fff;
		margin-top: 20px;
		opacity: 1 !important;
	}

	#preview-pub h3{
		text-shadow: 1px 1px 10px rgba(0,0,0,0,9);
		color: #fff;
		margin-top: 20px;
		opacity: 1 !important;
	}

/*	==========================================================
|	CONTENT EVENT
|	========================================================*/

	.card-highlight {
		background-color: #fff;
		padding: 10px;
	}

	.card-highlight-img-top {
		width: 100%;
	}

	.card-highlight-body {
		padding-top: 10px;
	}

	.card-highlight-title {
		font-family: DinPro-Bold;
		font-size: 1.2em;
		/*padding: 0px;*/  
		margin: 0px;
	}

	.card-highlight-creator {

	}

	.card-highlight-text {

	}



	
#calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

  .fc-toolbar-title {
  	font-family: DINPro-Light;
  	font-size: 1.2em !important;
  	text-align: right !important;
  	text-transform: uppercase !important;
  	margin-left: auto !important;
  }

  .scrolling-wrapper{
	overflow-x: auto;
}