
/*	==========================================================
|	CONTENT MAIN
|	========================================================*/
	.content-main {
		background-color: #fff;
		margin-top: 0px;
		/*margin-left: 100px;
		margin-right: 100px;*/

	}
	
	.content {
		/*margin: 10px 10px;*/

	}
	th.dt-center, td.dt-center { 
	    text-align: center; 
	    font-family: DINPro-Light;
	}

	
	.form-biodata {

  		border-width: 0 0 2px;
		border-bottom: 2px solid gray;
		border-radius: 0;
		padding-left: 0px;
		padding-right: 0px;
		outline: none;
		background-color: #fff;
	}



	.form-biodata:focus {
	  outline-style: none;
	  box-shadow: none;
	}

	.select2-container--default .select2-selection--single {
		border: 0px;
	}

	.select2 {

		border: 0px;
  		border-top: 0px;
		border-bottom: 2px solid gray;
		border-radius: 0;
		padding-left: 0px;
		padding-right: 0px;
		outline: none;
		background-color: #fff;
	}

	.list-jawaban {
		text-decoration: none;
		list-style-type: none;
		margin: 0px;
	}

	.list-jawaban li {
		margin: 0px;
		padding: 0px;
	}